<?xml version="1.0"?>
<launch>
    <arg name="use_kinect" default="true"/>
<!--    <arg name="world_name" default="$(find rcprg_gazebo_utils)/data/gazebo/worlds/blank.world" />-->
     <arg name="world_name" default="$(find inzynier_v1)/data/gazebo/worlds/velma_experiment.world" />
<!--    <arg name="world_name" default="$(find inzynier_v1)/data/gazebo/worlds/my_world.world" />-->
<!--     <arg name="world_name" default="$(find inzynier_v1)/data/gazebo/worlds/square_mapping_test.world" />-->
    <arg name="map_file" default="$(find velma_mapping)/maps/velma_testing_ground_correct.yaml"/>
<!--    <arg name="map_file" default="$(find velma_mapping)/maps/octomap_projection_combined.yaml"/>-->
    <arg name="GAZEBO_MODEL_PATH" default=""/>
    <arg name="GAZEBO_RESOURCE_PATH" default=""/>
    <arg name="profile" default="dart_2ms"/>


    <arg name="state_snapshot" default="$(find velma_sim_gazebo)/config/initial_state.txt" />
    <arg name="spawn_velma" default="true"/>

	<include file="$(find velma_common)/launch/velma_system.launch">
       <arg name="world_name" value="$(arg world_name)"/>
<!--       Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
      <arg name="use_kinect" default="$(arg use_kinect)"/>
      <arg name="GAZEBO_MODEL_PATH" value="$(arg GAZEBO_MODEL_PATH):$(find rcprg_gazebo_utils)/data/gazebo/models:$(find inzynier_v1)/data/gazebo/models"/>
      <arg name="GAZEBO_RESOURCE_PATH" value="$(arg GAZEBO_RESOURCE_PATH):$(find rcprg_gazebo_utils)/data/gazebo:$(find inzynier_v1)/data/gazebo"/>
      <arg name="profile" value="$(arg profile)"/>
      <arg name="state_snapshot" value="$(arg state_snapshot)" />
      <arg name="spawn_velma" value="$(arg spawn_velma)" />
    </include>


    <!--    world-map static tf-->
<!--    <node pkg="tf" type="static_transform_publisher" name="world_map_tf" args="0 0 0 0 0 0 world map 10"/>-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_map_tf" args="0 0 0 0 0 0 world map"/>

    <!--    map-odom static tf-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 map odom"/>

<!--    amcl node instead fo static map-odom transform-->
<!--    <node pkg="amcl" type="amcl" name="velma_amcl">-->
<!--        <remap from="scan" to="scan_multi"/>-->
<!--    </node>-->

<!--    scan merger-->
    <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>
    <!--    map server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

    <!--  laser_scan_matcher  -->
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">

        <param name="fixed_frame" value = "odom"/>
        <param name="target_frame" value="base_link"/>
<!--        <param name="base_frame" value="base_link"/>-->
<!--        <param name="fixed_frame" value="world"/>-->
        <param name="use_alpha_beta" value="true"/>
        <param name="use_odom" value="false"/>
        <param name="use_imu" value="false"/>
        <param name="max_iterations" value="10"/>
        <param name="publish_pose" value="true"/>
        <param name="publish_tf" value="true"/>
        <param name="use_vel" value="false"/>
        <remap from="scan" to="scan_multi"/>
    </node>



<!--    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">-->
<!--        <param name="map_udpate_interval" value="1.0"/>-->
<!--        <param name="delta" value="0.02"/>-->
<!--    </node>-->


    <!--    rviz-->
    <node pkg="rviz" type="rviz" name="rviz_node"/>

    <!--  run keyborard control node  -->
    <node pkg="lalkarz" type="lalkarz" name="lalkarz" args="-t /lalkarz/cmd_vel"/>
    <!--rotate commands from lalkarz and publish to cmd_vel-->
    <node pkg="velma_mapping" type="keyboard_move_node.py" name="lalkarz_translate"/>

</launch>

