<?xml version="1.0"?>
<launch>
    <arg name="use_kinect" default="true"/>
    <arg name="world_name" default="worlds/empty.world" />
    <arg name="GAZEBO_MODEL_PATH" default=""/>
    <arg name="GAZEBO_RESOURCE_PATH" default=""/>
    <arg name="profile" default="dart_2ms"/>
    <arg name="gui" default="false"/>
    <arg name="debug" default="false"/>

	<include file="$(find velma_sim_gazebo)/launch/velma_gazebo_re.launch">
      <arg name="world_name" value="$(arg world_name)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
      <arg name="use_kinect" default="$(arg use_kinect)"/>
      <arg name="gui" default="$(arg gui)"/>
      <arg name="GAZEBO_MODEL_PATH" value="$(arg GAZEBO_MODEL_PATH):$(find rcprg_gazebo_utils)/data/gazebo/models:$(find stero_velma)/data/gazebo/models"/>
      <arg name="GAZEBO_RESOURCE_PATH" value="$(arg GAZEBO_RESOURCE_PATH):$(find rcprg_gazebo_utils)/data/gazebo:$(find stero_velma)/data/gazebo"/>
      <arg name="profile" value="$(arg profile)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
</launch>

